.footer
   position: relative
   display: flex
   flex-direction: column
.map
   position: absolute
   height: 640px
   left: 0
   top: 0
.contacts
   flex-basis: 50% /* wht is dis */
   padding-top: 100px
   padding-left: 215px
   &__title
      +bold
      font-size: 22px
      line-height: 1.4
      margin-bottom: 100px
      max-width: 290px
   &-block 
      display: flex
      justify-content: flex-end
   &-list 
      padding: 0
      list-style: none
      &__item
         display: flex
         align-items: flex-start
         margin-bottom: 39px
      &__icon
         width: 20px
         height: 20px
         text-align: center
         line-height: 20px
         margin-right: 23px
   &__bold
      +bold
      color: $text-color
      max-width: 180px
a 
   text-decoration: none
   color: $text-color
   +bold
@media (max-width: 3000px)
   .map
      width: 50%
@media (max-width: 768px)
   .footer
      max-width: 768px
   .map
      position: relative
      max-width: 768px
      width: 90%
      max-height: 350px
      top: 0
      margin-left: auto
      margin-right: auto
   .contacts
      flex-basis: auto
      padding-top: 0
      padding-left: 0
      &-block
         justify-content: center
      &__title
         margin-bottom: 50px
         
@media (max-width: 360px)
   .footer
      max-width: 360px
   .map
      position: relative
      max-width: 360px
      width: 90%
      max-height: 280px
      margin-left: auto
      margin-right: auto